body {
  font-family: "EB Garamond", "Times New Roman", "ＭＳ 明朝", "MS Mincho", "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "メイリオ", meiryo, serif;
}
/* ----------------------------------------- 
header
  ------------------------------------------ */
// +++++ ヘッダー（PC） +++++
.hdr_pc {
  margin: 0 auto;
  padding-top: 70px;
  width: 1200px;
  height: 100%;
  @media (max-width: 768px) {
    display: none;
  }
  // ナビゲーション
  .nav_pc {
    position: fixed;
    width: 218px;
    // ページリンク
    .page_link {
      margin-top: 0;
      padding-left: 47px;
      line-height: 1.867;
      letter-spacing: 0.025em;
      font-size: 15px;
      li {
        a {
          color: #202020;
          transition: 0.3s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    // 言語リンク
    .lang_link {
      margin-top: 12px;
      padding-left: 47px;
      display: flex;
      align-items: center;
      line-height: 2.273;
      font-size: 12px;
      li {
        a {
          color: #202020;
          transition: 0.3s;
          &:hover {
            opacity: 0.7;
          }
        }
        &:nth-of-type(2) {
          margin-left: 18px;
        }
        &:nth-of-type(3) {
          margin-left: 18px;
        }
      }
    }
    // ロゴ
    .logo_pc {
      position: absolute;
      top: 312px;
      left: 115px;
      width: 178px;
      transform: rotate(90deg);
      transform-origin: left top;
      a {
        display: block;
        img {
          width: 178px;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
// +++++ ヘッダー（SP） +++++
.hdr_sp {
  position: relative;
  padding: 10px 5.1% 0;
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
  // ロゴ
  .logo_sp {
    position: fixed;
    top: 10px;
    left: 5.1%;
    z-index: 10;
    a {
      display: block;
      img {
        width: 81px;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  // ハンバーガーボタン
  .ham_btn {
    position: fixed;
    top: 5px;
    right: 38px;
    z-index: 100;
    width: 50px;
    height: 50px;
    .bar {
      position: absolute;
      left: 20%;
      top: 15px;
      width: 60%;
      height: 1px;
      background: #202020;
      transition: 0.3s;
      &:nth-of-type(2) {
        top: 21px;
      }
      &:nth-of-type(3) {
        top: 27px;
      }
      &:nth-of-type(4) {
        top: 32px;
      }
      &:nth-of-type(5) {
        top: 38px;
      }
    }
  }
  // ハンバーガーボタン（閉じる）
  .ham_btn_close {
    .bar {
      &:nth-of-type(1) {
        top: 25px;
        transform: rotate(45deg);
      }
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4) {
        opacity: 0;
      }
      &:nth-of-type(5) {
        top: 25px;
        transform: rotate(-45deg);
      }
    }
  }
  // メニュー
  .sp_menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10.7%;
    background: #fff;
    opacity: 0;
    transition: 0.3s;
    // ナビゲーション
    .nav_sp {
      // ロゴ
      .logo_sp_menu {
        margin-bottom: 50px;
        a {
          img {
            width: 84px;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      // ページリンク
      .page_link {
        margin-bottom: 22px;
        li {
          a {
            line-height: 1.6;
            letter-spacing: 0.05em;
            font-size: 19px;
            color: #331815;
            transition: 0.3s;
            &:hover {
              opacity: 0.7;
            }
            &::before {
              content: ":";
              margin-right: 5px;
              display: inline-block;
              font-size: 28px;
            }
          }
          dl {
            .page_link_accordion {
              position: relative;
              padding-right: 48px;
              line-height: 1.6;
              letter-spacing: 0.05em;
              font-size: 19px;
              color: #331815;
              cursor: pointer;
              &::before {
                content: ":";
                margin-right: 5px;
                display: inline-block;
                font-size: 28px;
              }
              &::after {
                position: absolute;
                top: 50%;
                right: 0;
                content: "";
                margin: -8px;
                width: 12px;
                height: 12px;
                display: block;
                border-top: 1px solid #331815;
                border-right: 1px solid #331815;
                transition: 0.3s;
                transform: rotate(135deg);
              }
            }
            .page_link_accordion_close {
              &::after {
                margin-top: -2px;
                transform: rotate(-45deg);
              }
            }
            dd {
              padding-left: 26px;
              .page_link_accordion_panel {
                display: none;
                li {
                  line-height: 1.946;
                  a {
                    transition: 0.3s;
                    &:hover {
                      opacity: 0.8;
                    }
                    &::before {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
      // 言語リンク
      .lang_link {
        margin-bottom: 30px;
        li {
          a {
            line-height: 2.077;
            font-size: 13px;
            color: #202020;
            transition: 0.3s;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
      // アイコンリンク
      .icon_link {
        display: flex;
        li {
          width: 18px;
          height: 18px;
          a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            color: #202020;
            transition: 0.3s;
            &:hover {
              opacity: 0.8;
            }
          }
          &:nth-of-type(1) {
            margin-right: 20px;
            a {
              &::before {
                font-family: "Font Awesome 5 Brands";
                content: "\f099";
                width: 100%;
                height: 100%;
              }
            }
          }
          &:nth-of-type(2) {
            margin-right: 20px;
            a {
              &::before {
                font-family: "Font Awesome 5 Brands";
                content: "\f16d";
                width: 100%;
                height: 100%;
              }
            }
          }
          &:nth-of-type(3) {
            margin-right: 20px;
            a {
              &::before {
                font-family: "Font Awesome 5 Brands";
                content: "\f09a";
              }
            }
          }
          &:nth-of-type(4) {
            a {
              &::before {
                content: "\f0e0";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
              }
            }
          }
        }
      }
    }
  }
  // SP表示
  .sp_menu_display {
    z-index: 50;
    opacity: 1;
  }
}
/* ----------------------------------------- 
    main_visual
    ------------------------------------------ */
.main_visual {
  margin-left: auto;
  width: calc(100% - 218px);
  @media (max-width: 768px) {
    padding-top: 50px;
    padding-right: 8%;
    width: 100%;
  }
  .main_visual_slick_pc {
    margin: 0 auto;
    width: 844px;
    height: 100%;
    @media (max-width: 768px) {
      display: none;
    }
    .image {
      width: 844px;
      height: 100%;
      img {
        width: 844px;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .main_visual_slick_sp {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
    .image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

/* ----------------------------------------- 
page_footer
  ------------------------------------------ */
.waku00{
    background: #F4F4F4;
    height: 75px;
}
.page_footer{
    .waku01{
        position: relative;
        z-index: 1;
        padding: 70px 10%;
        height: 365px;
        background: #E9E9E9;
        @media screen and (max-width:900px) {
            height: 500px;
            padding: 0 10%;
        }
        .news{
            position: absolute;
            top: -75px;
            left: 15%;
            z-index: 2;
            width: 300px;
            height: 300px;
            background-image: url(/image/001.svg);
            @media screen and (max-width:1200px) {
                left: 10%;
            }
            @media screen and (max-width:1000px) {
                left: 5%;
            }
            @media screen and (max-width:900px) {
                top: -30px;
                left: 0;
                width: 40%;
                height: 65%;
                display: flex; 
            }
            @media screen and (max-width:750px) {
                top: -30px;
                left: 0;
                width: 45%;
                height: 65%;
                display: flex; 
            }
            @media screen and (max-width:650px) {
                top: -30px;
                left: 0;
                width: 50%;
                height: 65%;
                display: flex; 
            }
            @media screen and (max-width:550px) {
                top: -30px;
                left: 0;
                width: 60%;
                height: 65%;
                display: flex; 
            }
            .icon{
                padding: 2em;
                @media screen and (max-width:900px) {
                    padding-top: 10em;
                    padding-left: 17em;
                    padding-right: 0;
                }
                @media screen and (max-width:550px) {
                    padding-top: 10em;
                    padding-left: 14em;
                    padding-right: 0;
                }
                @media screen and (max-width:450px) {
                    padding-top: 10em;
                    padding-left: 10em;
                    padding-right: 0;
                }
                i{
                    font-size: 12px;
                    &:last-child{
                        margin-left: 1em;
                        @media screen and (max-width:900px) {
                            margin-left: 0;
                        }
                    }
                    @media screen and (max-width:900px) {
                        display: block;
                        transform: rotate(90deg);
                    }
                }
            }
            h2{
                padding-left: .7em;
                font-size: 36px;
                font-family: "EB Garamond","Times New Roman","ＭＳ 明朝","MS Mincho","ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","メイリオ",meiryo,serif;;
                letter-spacing: 1.8px;
                writing-mode: vertical-rl;
                @media screen and (max-width:900px) {
                    padding-top: 4.22em;
                    padding-left: .5em;
                    writing-mode: horizontal-tb;
                }

            }

        }
        .cont{
            position: relative;
            margin-left: 40%;
            @media screen and (max-width:900px) {
                padding-top: 350px;
                margin-left: 0;
            }
            @media screen and (max-width:900px) {
                padding-top: 320px;
                margin-left: 0;
            }
            a{
                margin-bottom: 1em;
                display: block;
                display: flex;
                text-decoration: none;
                color: rgb(32, 32, 32);
                font-size: 12px;
                letter-spacing: 1.2px;
                line-height: 19.38px;
                font-family: "Noto Sans JP","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",meiryo,"ＭＳ Ｐゴシック",sans-serif;
                @media screen and (max-width:900px) {
                    margin-bottom: 2em;
                }
                @media screen and (max-width:450px) {
                    margin-bottom: 1em;
                    font-size: 10px;
                    display: block;
                }
                .date{
                    margin-right: 2em;
                }
            }
            .itiran{
                position: absolute;
                bottom: -50px;
                right: 0;
                margin-left: auto;
                a{
                    text-decoration: underline;
                }
            }
        }
    }
    .waku02{
        padding: 0 5% 0 20%;
        height: 160px;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:900px) {
            display: block;
            padding: 0;
        }
        .media{
            line-height: 160px;
            @media screen and (max-width:900px) {
                text-align: center;
                line-height: 80px;
            }
            i{
                margin-right: 1em;
                font-size: 20px;
                color: #4b4b4b;
            }
        }
        .copy{
            line-height: 160px;
            color: #4b4b4b;
            font-size: 10px;
            @media screen and (max-width:900px) {
                text-align: center;
                line-height: 80px;
            }
        }
    }
}